
@{
    ViewData["Title"] = "Design";
}

<h1>Design</h1>

<h3>Front-end</h3>

<p>This app uses .NET Core with VueJS, TypeScript, and Webpack for bundling. 2D structures are rendered with HTML canvas, 3D structures with ThreeJS. 
    Other dimensional R-Trees can't be visualized in the same way. This app use Bulma with Bulmaswatch for SCSS theming.</p>

<h3>Data Structure</h3>

<p>I designed the data structure initially for a acadamic project, but when I finished it I decided to keep working on it and expanding it. 
    The data structure was refactored to allow for configurable storage implementations and configurable split (insertion) algorithms.
    I've also started working on generics and configurable data types. 
    The data structure is written in Java and is located in the <a href = "https://github.com/dsergio/rtree-java/tree/master/RTreeData" target="_blank">RTreeData</a> project.</p>

<p>UML (In progress): <a href="https://dsergio.co/portfolio/site/rtreeUML.pdf" target="_blank">rtreeUML.pdf</a></p>

<img src="https://dsergio.co/portfolio/site/images/CSCD467_FinalProject_Diagrams.png" />

<h3>API</h3>

<p>This app uses Spring Boot for the API. I'm working on adding more endpoints to the API.</p>

<h3>Deployment</h3>

<p>This app uses Azure Web Apps with Azure DevOps CI/CD and github for source control.</p>