
@{
    ViewData["Title"] = "Design";
}

<h1>Design</h1>

<p>UML (In progress): <a href="https://dsergio.co/portfolio/site/rtreeUML.pdf" target="_blank">rtreeUML.pdf</a></p>

<img src="https://dsergio.co/portfolio/site/images/CSCD467_FinalProject_Diagrams.png" />