
@{
    ViewData["Title"] = "Index";
}

<h1>Examples</h1>

<img src="https://dsergio.co/portfolio/site/images/rtree_example_uscitiesN5000.png" />
<br />
<i>A large (5k) 2D dataset of US Cities. The colors are rainbow-sorted by depth</i>
<br />
<br />
<img src="https://dsergio.co/portfolio/site/images/rtree_3d.png" />
<br />
<i>A small 3D dataset rendered using Three.js</i>
<br />
<br />
<img src="https://dsergio.co/portfolio/site/images/example_us_cities_search1.png" />
<br />
<i>A 2D dataset of US Cities with labels. The red dashed line and list are query result.</i>
<br />
<br />
<img src="https://dsergio.co/portfolio/site/images/rtree_example_uscities2.png" />
<br />
<i>A 2D dataset of US Cities without labels. The red dashed line and list are query result.</i>
<br />
<br />
<img src="https://dsergio.co/portfolio/site/images/example_animals.png" />
<br />
<i>A 2D example with random animal labels.</i>
<br />
<br />