
@{
    ViewData["Title"] = "Index";
}

<h1>Map Application</h1>

<p>Simple WA State map application using 2D R-Tree of cities. 
    Search results are limited arbitrarily, but a good design to limit the number of results is to use several tree
    structures, each handling a separate "zoom" level. This requires ranking the locations by some metric (e.g. population)
</p>

<div id="map"></div>