

<h1><a asp-controller="RTree" asp-action="Index">RTree App</a></h1>

<p>
    This app consists of a <a href="https://github.com/dsergio/rtree-java/tree/master/RTreeData" target="_blank">data structure</a> written in Java, an API in Spring Boot, 
    and a <a asp-controller="RTree" asp-action="Index">frontend</a> written in .NET Core and VueJS/TypeScript.
</p>